.fade-in {
  animation: fade-in .4s;
  @apply ease-in-out;
  transition: opacity 400ms;
}

.from-left-to-right {
  animation: from-left-to-right .4s;
 
  @apply ease-in-out;
  transition: transform 400ms;
}

@keyframes from-left-to-right {
  from {
    transform: translate(-100vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.dark-button {
  @apply select-none;
  @apply text-white;
  @apply bg-gray-800;
  @apply hover:bg-gray-900;
  @apply focus:outline-none;
  @apply focus:ring-blue-500;
  @apply font-medium;
  @apply rounded-lg;
  @apply text-sm;
  @apply p-3;
  /* @apply px-5;
  @apply py-2.5; */
  @apply me-2;
  @apply mb-2;
  @apply dark:bg-gray-800;
  @apply dark:hover:bg-gray-700;
  @apply active:ring-2;
  @apply transition-all;
  @apply ring-0;
  @apply dark:border-gray-700;
  @apply flex;
  @apply gap-3;
  @apply items-center;
}

.textMoving:hover {
  @apply animate-[textMoving];
  @apply sm:animate-none;
  /* animation: textMoving 5s linear infinite; */
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  display: block;
}

@keyframes textMoving{
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-80%);
  }
}

.landing-section {
  @apply pt-24;
}

.hero-pic::before {
  content: "";
  @apply top-0;
  @apply bottom-0;
  @apply left-0;
  @apply right-0;
  @apply absolute;
  @apply rounded-full;
  @apply border-2;
  @apply border-customPurple;
  /* @apply border-t-customPurple;
  @apply border-l-customPurple;
  @apply border-r-customPurple;
  @apply border-b-customPurple; */
}

.before-animation-duration-10::before {
  animation-duration: 10s;
}

.before-animation-duration-20::before {
  animation-duration: 20s;
}

.before-animation-duration-30::before {
  animation-duration: 30s;
}

.spin-before-left::before {
  animation-timing-function: linear;
  animation-name: spinLeft;
  animation-iteration-count: infinite;
}

.spin-before-right::before {
  animation-timing-function: linear;
  animation-name: spinRight;
  animation-iteration-count: infinite;
}

@keyframes spinLeft {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinRight {
  from {
    transform: rotate(360deg);
  }
}

.hero-scroll-animation {
  animation: fade-out both linear .1s;
  animation-timeline: view();
  animation-range: exit;
}

@keyframes fade-out {
  80%, 100% {
    opacity: 0;
  }
}